<div class="profile__top">
    <div class="profile__avatar">
        <img src="{{ avatar }}" alt="">
    </div>
    {{{ btnAvatarSection }}}
</div>
<div>
    <div class="profile__row">
        <div class="profile__info">
            {{{ profileInfoSection }}}
        </div>
        <div class="profile__pass">
            {{{ passInfoSection }}}
        </div>
    </div>
    <div class="profile__btn" id="profile__btn">
            {{{ btnSection }}}
    </div>
</div>
