{{#if text}}
<span class="input__text">{{ text }}</span>
{{/if}}
<span class="input__err">{{ errText }}</span>
<input type="{{type}}" class="input" id="{{ name }}" name="{{ name }}" placeholder="{{ placeholder }}" value="{{ value }}">
