<label for="{{ name }}" class="input__wrap">
    {{#if text}}
    <span class="input__text">{{ text }}</span>
    {{/if}}
    <input type="{{type}}" class="input" id="{{ name }}" name="{{ name }}" placeholder="{{ placeholder }}">
</label>