<div class="chat__side" id="chat__side">
    {{{ chatHeaderSection }}}

    {{{ chatListSection }}}
</div>
<div class="chat__workflow" id="chat__workflow">
    {{{ chatProfileSection }}}

    <div class="messages">
        {{{ chatMsgsSection }}}
    </div>

    {{{ chatInputsSection }}}
</div>